__pycache__/
*.pyc
venv/
.env
.ipynb_checkpoints/
*.log
.vscode/
storage/*
!storage/models/
storage/models/*
!storage/models/*.joblib
!storage/registry/
storage/registry/*
!storage/registry/training_results.json
